@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@600&display=swap");

/* スクロール */
:root {
  scroll-behavior: smooth;
}

/* bodyの書式 */
body {
  text-align: center;
  line-height: 1.5;
  background: #ffffff;
  color: #1b1b1b;
  font-family: font-family, "Yu Gothic Medium", YuGothic, sans-serif;
}

/* リンク文字の書式 */
a {
  color: inherit;
  text-decoration: none;
}
/* コンテナの書式 */
.container {
  max-width: 1130px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* ↓ヘッダー１の書式 */
header h1 {
  width: 201px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header1 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header1 nav ul {
  display: flex;
  column-gap: 20px;
  font-size: 16px;
}

.header1 ul li a:hover {
  color: #227e42;
}

/* ↓ヘッダー2の書式 */
.header2 {
  background-color: #9a9a9a;
}

.header2 .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header2 .container nav ul {
  display: flex;
}

.header2 .container nav ul:first-child {
  border-left: 1px solid #ffffff;
}

.header2 .container li {
  width: 92px;
  border-right: 1px solid #ffffff;
}

.header2 .container li a {
  color: #ffffff;
  background-color: #9a9a9a;
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;

  display: block;
}

.header2 ul li a:hover {
  color: #9a9a9a;
  background-color: #ffffff;
}

/* ↓メインビジュアルの書式 */
a.visual {
  position: relative;
  display: block;
}

/* ↓メインビジュアルコピーの書式 */
.visual_copy {
  width: 31%;
  color: #000;
  background-color: #ffffff;
  text-align: left;
  position: absolute;
  left: 17.18%;
  top: 34%;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 18px;
  padding-bottom: 22px;
}

.visual_copy section h1 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 35px;
  padding-bottom: 6px;
}

.visual_copy section p {
  font-size: 15px;
}

/* ↓料理写真の書式 */
main .food {
  display: flex;
  align-items: flex-start;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 51px;
}

main ul li.food_1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.42%;
}

main ul li.food_2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.42%;
}

main ul li.food_main {
  width: 100%;
}

main .food .food_1 div {
  flex-basis: 47.7%;
  margin-bottom: 2.29%;
}

main .food .food_2 div {
  flex-basis: 47.7%;
  margin-bottom: 2.29%;
}

main .food .food_main {
  flex-basis: 97.55%;
}

/* 料理画像キャプション */

/* ステーキのキャプション */

.food .food1 .a a {
  position: relative;
}
.food_1 .a p {
  width: 15.78%;
  position: absolute;
  left: 13px;
  bottom: 90px;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  background-color: rgba(46, 46, 46, 0.486);
  line-height: 38px;
  padding: 0px 18px 0px 18px;
  letter-spacing: 0.08em;
}
.food_1 .a span {
  padding-left: 40px;
}
.food_1 .a img:last-child {
  width: 9%;
  padding-right: 5px;
  padding-bottom: 3px;
}

/* ↓記事とランキングの横並び */
main .container {
  width: 100%;
  display: flex;
  column-gap: 4.77%;
}

/* ↓メインディッシュの書式 */
main .container .article .maindish {
  max-width: 715px;
  display: flex;
  align-items: center;
  padding: 0px 20px 28px 20px;
  border-bottom: 1px solid #000;
}

.maindish .maindish_text {
  max-width: 402px;
  text-align: left;
}

.maindish .maindish_img {
  max-width: 260px;
  padding-left: 4.75%;
}

.maindish .maindish_text h1 {
  font-family: Poppins;
  font-size: 37px;
  font-weight: bold;
  padding-bottom: 4px;
}

.maindish .maindish_text h2 {
  font-size: 19px;
  font-weight: bold;
  padding-bottom: 8px;
}

.maindish .maindish_text p {
  font-size: 16px;
}

/* ↓サイドディッシュの書式 */
main .container .article .sidedish {
  max-width: 715px;
  display: flex;
  align-items: center;
  padding: 30px 20px 28px 20px;
  border-bottom: 1px solid #000;
}

.sidedish .sidedish_text {
  max-width: 402px;
  text-align: left;
}

.sidedish .sidedish_img {
  max-width: 260px;
  padding-left: 34px;
}

.sidedish .sidedish_text h1 {
  font-family: Poppins;
  font-size: 37px;
  font-weight: bold;
  padding-bottom: 4px;
}

.sidedish .sidedish_text h2 {
  font-size: 19px;
  font-weight: bold;
  padding-bottom: 8px;
}

.sidedish .sidedish_text p {
  font-size: 16px;
}

/* ↓デザートの書式 */
main .container .article .dessert {
  max-width: 715px;
  display: flex;
  align-items: center;
  padding: 30px 20px 28px 20px;
}

.dessert .dessert_text {
  max-width: 402px;
  text-align: left;
}

.dessert .dessert_img {
  max-width: 260px;
  padding-left: 34px;
}

.dessert .dessert_text h1 {
  font-family: Poppins;
  font-size: 37px;
  font-weight: bold;
  padding-bottom: 4px;
}

.dessert .dessert_text h2 {
  font-size: 19px;
  font-weight: bold;
  padding-bottom: 8px;
}

.dessert .dessert_text p {
  font-size: 16px;
}

/* ランキングの書式 */
main .container .ranking {
  max-width: 400px;
}

/* ランキング画像とテキストの横並び */
.ranking article section a {
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;
}

/* ランキングh1の書式 */
.ranking article h1 {
  font-family: Poppins;
  font-size: 30px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 18px 0px 18px 0px;
  margin-bottom: 26px;
}

/* h1スパン内書式 */
.ranking article h1 span {
  font-family: Yu Gothic Medium;
  font-size: 16px;
  padding-left: 30px;
  vertical-align: middle;
}

/* ランキング画像書式 */
article section a .ranking_img {
  max-width: 129px;
  padding-right: 16px;
}

/* ランキング文章書式 */
article section a .ranking_text {
  max-width: 200px;
  font-size: 16px;
  text-align: left;
}

/* ランキングカテゴリ書式 */
section a .ranking_text p:last-child {
  max-width: 140px;
  font-size: 14px;
  text-align: center;
  padding: 3px 3px 3px 3px;
  border: 1px solid #000;
  margin-top: 10px;
}

/* ニュース見出しの書式 */
main .news h2.news {
  font-family: Poppins;
  font-size: 35px;
  margin-top: 13px;
  margin-bottom: 16px;
}

/* ニュース全体 */
main .news ul {
  max-width: 1080px;
  text-align: left;
  line-height: 18px;
  border: 1px solid #000;
  padding: 33px 20px 15px 52px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 49px;
}

/* ニュース本文書式 */
main .news ul li {
  padding-bottom: 18px;
}

/* About書式 */
main aside h2 {
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

main aside p {
  font-size: 16px;
  margin-bottom: 45px;
}

/* footer書式 */
footer {
  background-color: #000;
}

footer p:first-child {
  color: #ffffff;
  padding: 20px 0px 0px 0px;
}

footer .icon {
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

/* 1600px以下 */
@media (max-width: 1600px) {
  .visual_copy {
    width: 38%;
    position: absolute;
    left: 15.18%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 14px;
    padding-bottom: 25px;
  }
  .visual_copy section h1 {
    font-size: 34px;
    padding-bottom: 3px;
  }
}

/* 1400px以下 */
@media (max-width: 1400px) {
  .visual_copy {
    width: 40%;
    position: absolute;
    left: 10.18%;
    top: 23%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 14px;
    padding-bottom: 25px;
  }
  .visual_copy section h1 {
    font-size: 34px;
    padding-bottom: 3px;
  }
}

/* 1200px以下 */
@media (max-width: 1200px) {
  a.visual {
    position: unset;
  }
  /* ↓メインビジュアルコピーの書式 */
  .visual_copy {
    width: 100%;
    color: #000;
    background-color: #ffffff;
    position: unset;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 16px;
    padding-bottom: 14px;
  }

  .visual_copy section h1 {
    font-size: 30px;
    padding-bottom: 3px;
  }
  .visual_copy section p {
    display: inline;
    font-size: 15px;
  }

  .visual_copy section p:nth-child(3) {
    display: block;
  }

  .ranking article h1 {
    text-align: center;
  }

  .ranking article h1 span {
    white-space: nowrap;
    padding-top: 10px;
  }
}
