@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@600&display=swap");

/* スクロール */
:root {
  scroll-behavior: smooth;
}

/* bodyの書式 */
body {
  text-align: center;
  line-height: 1.5;
  background: #ffffff;
  color: #1b1b1b;
  font-family: font-family, "Yu Gothic Medium", YuGothic, sans-serif;
}

/* リンク文字の書式 */
a {
  color: inherit;
  text-decoration: none;
}

a.active {
  color: #ffffff;
  background-color: #252525;
}

/* コンテナの書式 */
.container {
  max-width: 1130px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* ↓ヘッダー１の書式 */
header h1 {
  width: 201px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header1 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header1 .nav1 ul {
  display: flex;
  column-gap: 20px;
  font-size: 16px;
}

.header1 ul li a:hover {
  color: #227e42;
}

/* ↓ヘッダー2の書式 */
.header2 {
  background-color: #9a9a9a;
}

.header2 .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header2 .container .nav2 ul {
  display: flex;
}

.header2 .container li {
  width: 92px;
}

.header2 .container li a {
  color: #ffffff;
  background-color: #9a9a9a;
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;

  display: block;
}

.header2 ul li a:hover {
  color: #9a9a9a;
  background-color: #ffffff;
}

/* 検索アイコン非表示 */
.header2 .container p.search_icon {
  display: none;
}

.header3 {
  display: none;
}

/* footer書式 */
footer {
  background-color: #000;
}

footer p:first-child {
  color: #ffffff;
  padding: 20px 0px 0px 0px;
}

footer .icon {
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

/*-------------------------------
ハンバーガーアイコン（header1）
-------------------------------*/
.hmenu {
  width: 50px;
  height: 50px;
  border: none;
  background-color: rgb(255, 255, 255);
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 6px;
  right: 15px;
  border-radius: 4px;
}

.hmenu span,
.hmenu span::before,
.hmenu span::after {
  width: 32px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  display: block;
  position: absolute;
  transition: 0.5s;
}

/* 内容:"", 下:12px */
.hmenu span::before {
  content: "";
  bottom: 12px;
}

/* 内容:"", 上:12px */
.hmenu span::after {
  content: "";
  top: 12px;
}

/* 背景色:unset */
.hmenu.close span {
  background-color: unset;
}

/* 下:0, 回転:-45° */
.hmenu.close span::before {
  bottom: 0;
  transform: rotate(-45deg);
}

/* 上:0, 回転:45° */
.hmenu.close span::after {
  top: 0;
  transform: rotate(45deg);
}

/*-------------------------------
ハンバーガーアイコン（header2）
-------------------------------*/
.hmenu3 {
  width: 50px;
  height: 50px;
  border: none;
  background-color: rgba(139, 139, 139, 0);
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 66px;
  left: 13px;
  border-radius: 4px;
}

.hmenu3 span,
.hmenu3 span::before,
.hmenu3 span::after {
  width: 32px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 4px;
  display: block;
  position: absolute;
  z-index: 2;
  transition: 0.5s;
}

.hmenu3 span::before {
  content: "";
  bottom: 12px;
}

.hmenu3 span::after {
  content: "";
  top: 12px;
}

.hmenu3.close span {
  background-color: unset;
}

.hmenu3.close span::before {
  bottom: 0;
  transform: rotate(-45deg);
}

/* 上:0, 回転:45° */
.hmenu3.close span::after {
  top: 0;
  transform: rotate(45deg);
}

/* 1000px以下 */
@media (max-width: 1000px) {
  .header2 .container p:last-child {
    display: none;
  }
  .header2 .container p.search {
    display: none;
  }
  .header2 .container p.search_icon {
    display: block;
    padding-right: 7px;
  }
}

/* ヘッダー1 HBメニュー*/
@media (max-width: 700px) {
  /* ↓ヘッダー１の書式 */
  header h1 {
    text-align: center;
  }
  .hmenu {
    display: flex;
  }
  .header1 .nav1 ul {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 3;
  }
  footer p.copyright span {
    display: none;
  }
  .container .nav1 li {
    padding-left: 25px;
    text-align: left;
  }

  .container .nav1 {
    width: 0;
    height: calc(100% - 45%);
    box-shadow: -3px 0 6px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 1;
    top: 60px;
    right: 0;
    transition: 0.5s;
    overflow-x: hidden;
    white-space: nowrap;
    background-color: #ffffff;
  }
  /* 幅:200px */
  .hmenu.close + nav {
    width: 200px;
  }
}

/* ヘッダー2 HBメニュー*/
@media (max-width: 575px) {
  .hmenu3 {
    display: flex;
  }
  .header2 {
    background-color: #9a9a9a;
    height: 60px;
    width: 100%;
  }
  .header2 .container {
    display: block;
  }
  .header2 .container p.search_icon {
    display: block;
    text-align: right;
    padding-top: 17px;
  }
  .header2 .container .nav2 {
    display: none;
  }
  .header3 {
    display: block;
    background-color: #c5c5c5;
  }
  .header3 .container .nav3 ul {
    display: block;
    line-height: 3;
    color: #ffffff;
    font-weight: bold;
  }
  .container .header3 .nav3 li {
    display: block;
  }
  .header3 .container .nav3 li a {
    text-align: center;
    display: block;
  }
  .header3 ul li a:hover {
    color: #9a9a9a;
    background-color: #ffffff;
  }
  .header3 .nav3 {
    width: 0;
    height: fit-content;
    box-shadow: -3px 0 6px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 1;
    top: 121px;
    left: 0;
    transition: 0.5s;
    overflow-x: hidden;
    white-space: nowrap;
    background-color: #6e6e6e;
  }
  /* 幅:200px */
  .hmenu3.close + nav.nav3 {
    width: 200px;
  }
}
