@import url(common.css);

/*==// スライダーと文字のwrap //==*/
main > .slick {
  position: relative;
}
/*==// 上に載せる文字部分 //==*/
main > div .textbox {
  position: absolute;
  /*上下中央に文字配置*/
  top: 50%;
  transform: translateX(2%);
  left: 5%;
}
main > div .textbox h2 {
  width: 38%;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  font-size: 34px;
  background-color: #fff;
  padding-left: 35px;
  padding-top: 1%;
}
main > div .textbox p {
  width: 38%;
  color: #000;
  background-color: #ffffff;
  text-align: left;
  left: 17.18%;
  top: 38%;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 2px;
  padding-bottom: 22px;
}
/*==// スライダーのコンテナ //==*/
main .slider {
  width: 100%; /* スライダーの幅を指定*/
  list-style: none;
}
/*==// ここから矢印 //==*/
.slide-arrow {
  position: absolute;
  /*上下中央に矢印配置*/
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index: 100;
  cursor: pointer; /*ポインター表示にし、クリック可能なことを視覚的にわかりやすくします*/
}
.slide-arrow::before {
  display: block;
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}
.next-arrow {
  right: 10px;
} /*内側に右から10ピクセル移動*/
.prev-arrow {
  left: 10px;
} /*内側に左から10ピクセル移動*/
.next-arrow::before {
  content: "\f054"; /*右矢印のアイコンフォント*/
}
.prev-arrow::before {
  content: "\f053"; /*左矢印アイコンフォント*/
}
/*マウスオーバーで矢印が水色へ*/
.slide-arrow:hover::before {
  color: #888888;
}
/*==// ここからdots //==*/
.slick-dots {
  /*画像の下部へ配置*/
  position: absolute;
  z-index: 100;
}
.slick-dots li button:before {
  color: #fff;
  opacity: 1;
}
.slick-dots li.slick-active button:before {
  color: #888888;
  opacity: 1;
}

/* ↓メインビジュアルの書式 */
a.visual {
  position: relative;
  display: block;
}
/* タブレット用画像非表示 */
a.visual .tab {
  position: relative;
  display: none;
}

/* ↓メインビジュアルコピーの書式 */
.visual_copy {
  width: 31%;
  color: #000;
  background-color: #ffffff;
  text-align: left;
  position: absolute;
  left: 17.18%;
  top: 38%;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 18px;
  padding-bottom: 22px;
}

.visual_copy section h1 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 35px;
  padding-bottom: 6px;
}

.visual_copy section p {
  font-size: 15px;
}

/* ↓料理写真の書式 */
main .food {
  display: flex;
  align-items: flex-start;
  padding-top: 6px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 51px;
}

/* タブレット用料理写真非表示 */
.food .food_main img.tab {
  display: none;
}
/* スマホ用料理写真非表示 */
.food .food_main img.sp {
  display: none;
}
/* 料理写真ブロック1の書式 */
main ul li.food_1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.42%;
}
/* 料理写真ブロック2の書式 */
main ul li.food_2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.42%;
}
/* 料理写真ブロック3の書式 */
main ul li.food_main {
  width: 100%;
}
/* 料理写真ブロック1の中の書式 */
main .food .food_1 div {
  flex-basis: 47.7%;
  margin-bottom: 2.29%;
}
/* 料理写真ブロック2の中の書式 */
main .food .food_2 div {
  flex-basis: 47.7%;
  margin-bottom: 2.29%;
}
/* 料理写真ブロック3の中の書式 */
main .food .food_main {
  flex-basis: 97.55%;
}
/* 料理写真ブロック1の画像100% */
main .food .food_2 div img {
  width: 100%;
}
/* 料理写真ブロック2の画像100% */
main .food .food_1 div img {
  width: 100%;
}

/* 料理画像ホバー */


/* 料理画像キャプション */

/* ステーキのキャプション */
.food .food_1 .a {
  position: relative;
}

.food_1 p.a_copy {
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background-color: rgba(46, 46, 46, 0.6);
  padding: 0px 18px 0px 18px;
  letter-spacing: 0.08em;
  line-height: 38px;
  text-align: left;
}
.food_1 .a span {
  padding-left: 3em;
}
.food_1 .a img:last-child {
  width: 9%;
  padding-right: 5px;
  padding-bottom: 3px;
}

/* グラタンのキャプション */
.food .food_1 .b {
  position: relative;
}

.food_1 p.b_copy {
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background-color: rgba(46, 46, 46, 0.6);
  line-height: 38px;
  text-align: left;
  padding: 0px 18px 0px 18px;
}
.food_1 .b span {
  padding-left: 2em;
}
.food_1 .b img:last-child {
  width: 9%;
  padding-right: 5px;
  padding-bottom: 3px;
}

/* ピザのキャプション */
.food .food_1 .c {
  position: relative;
}

.food_1 p.c_copy {
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background-color: rgba(46, 46, 46, 0.6);
  line-height: 38px;
  text-align: left;
  padding: 0px 18px 0px 18px;
}
.food_1 .c span {
  padding-left: 2em;
}
.food_1 .c img:last-child {
  width: 9%;
  padding-right: 5px;
  padding-bottom: 3px;
}

/* アクアパッツァのキャプション */
.food .food_1 .d {
  position: relative;
}

.food_1 p.d_copy {
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background-color: rgba(46, 46, 46, 0.6);
  line-height: 38px;
  text-align: left;
  padding: 0px 18px 0px 18px;
}
.food_1 .d span {
  padding-left: 2em;
}
.food_1 .d img:last-child {
  width: 9%;
  padding-right: 5px;
  padding-bottom: 3px;
}

/* ビーツのサラダのキャプション */
.food .food_2 .e {
  position: relative;
}

.food_2 p.e_copy {
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background-color: rgba(46, 46, 46, 0.6);
  line-height: 38px;
  text-align: left;
  padding: 0px 18px 0px 18px;
}
.food_2 .e span {
  padding-left: 1em;
}
.food_2 .e img:last-child {
  width: 9%;
  padding-right: 5px;
  padding-bottom: 3px;
}

/* 菜の花のアーリオオーリオのサラダのキャプション */
.food .food_2 .f {
  position: relative;
}

.food_2 p.f_copy {
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background-color: rgba(46, 46, 46, 0.6);
  line-height: 38px;
  text-align: left;
  padding: 0px 18px 0px 18px;
}
.food_2 .f span {
  padding-left: 1em;
}
.food_2 .f img:last-child {
  width: 9%;
  padding-right: 5px;
  padding-bottom: 3px;
}

/* ローストチキンのサラダのキャプション */
.food .food_2 .g {
  position: relative;
}

.food_2 p.g_copy {
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background-color: rgba(46, 46, 46, 0.6);
  line-height: 38px;
  text-align: left;
  padding: 0px 18px 0px 18px;
}
.food_2 .g span {
  padding-left: 3em;
}
.food_2 .g img:last-child {
  width: 9%;
  padding-right: 5px;
  padding-bottom: 3px;
}

/* ポトフのサラダのキャプション */
.food .food_2 .h {
  position: relative;
}

.food_2 p.h_copy {
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background-color: rgba(46, 46, 46, 0.6);
  line-height: 38px;
  text-align: left;
  padding: 0px 18px 0px 18px;
}
.food_2 .h span {
  padding-left: 3em;
}
.food_2 .h img:last-child {
  width: 9%;
  padding-right: 5px;
  padding-bottom: 3px;
}

/* ミネストローネのキャプション */
.food .food_main {
  position: relative;
}

.food .food_main section {
  width: 55%;
  position: absolute;
  top: 0;
  right: 0;
  color: #ffffff;
  background-color: #15331f;
  padding: 32px 30px 32px 30px;
  text-align: left;
}

.food_main section h1 {
  font-family: Poppins;
  font-weight: bold;
  font-size: 33px;
  padding-bottom: 4px;
  letter-spacing: 0.02em;
}
.food_main section h2 {
  font-size: 18px;
  padding-bottom: 9px;
}
.food_main section p {
  line-height: 1.6;
}

/* ↓記事とランキングの横並び */
main .container {
  width: 100%;
  display: flex;
  column-gap: 4.21%;
}

/* ↓メインディッシュの書式 */
main .container .article .maindish {
  width: 100%;
  padding: 0px 20px 28px 20px;
  border-bottom: 1px solid #000;
}

.container .article .maindish a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.maindish .maindish_text {
  width: 60%;
  text-align: left;
}

.maindish .maindish_img {
  width: 253px;
  padding-left: 4%;
}

.maindish .maindish_text h1 {
  font-family: Poppins;
  font-size: 37px;
  font-weight: bold;
  padding-bottom: 4px;
}

.maindish .maindish_text h2 {
  font-size: 19px;
  font-weight: bold;
  padding-bottom: 8px;
}

.maindish .maindish_text p {
  font-size: 16px;
}

/* ↓サイドディッシュの書式 */
main .container .article .sidedish {
  width: 100%;
  padding: 30px 20px 28px 20px;
  border-bottom: 1px solid #000;
}

.container .article .sidedish a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidedish .sidedish_text {
  width: 60%;
  text-align: left;
}

.sidedish .sidedish_img {
  width: 253px;
  padding-left: 4%;
}

.sidedish .sidedish_text h1 {
  font-family: Poppins;
  font-size: 37px;
  font-weight: bold;
  padding-bottom: 4px;
}

.sidedish .sidedish_text h2 {
  font-size: 19px;
  font-weight: bold;
  padding-bottom: 8px;
}

.sidedish .sidedish_text p {
  font-size: 16px;
}

/* ↓デザートの書式 */
main .container .article .dessert {
  width: 100%;
  padding: 30px 20px 28px 20px;
  margin-bottom: 50px;
}

.container .article .dessert a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dessert .dessert_text {
  width: 60%;
  text-align: left;
}

.dessert .dessert_img {
  width: 253px;
  padding-left: 3%;
}

.dessert .dessert_text h1 {
  font-family: Poppins;
  font-size: 37px;
  font-weight: bold;
  padding-bottom: 4px;
}

.dessert .dessert_text h2 {
  font-size: 19px;
  font-weight: bold;
  padding-bottom: 8px;
}

.dessert .dessert_text p {
  font-size: 16px;
}

/* ランキングの書式 */
main .container .ranking {
  width: 100%;
  margin-bottom: 50px;
}

/* ランキング画像とテキストの横並び */
.ranking article section a {
  display: flex;
  margin-bottom: 14%;
  column-gap: 3%;
}

/* ランキングh1の書式 */
.ranking article h1 {
  font-family: Poppins;
  font-size: 30px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 18px 0px 18px 0px;
  margin-bottom: 35px;
}

/* h1スパン内書式 */
.ranking article h1 span {
  font-family: Yu Gothic Medium;
  font-size: 16px;
  padding-left: 30px;
  vertical-align: middle;
}

/* ランキング画像書式 */
article section a .ranking_img {
  width: 139px;
  padding-left: 2.5%;
  text-align: left;
}

/* ランキングtab用画像非表示 */
article section a .ranking_img .tab {
  display: none;
}

/* ランキング文章書式 */
article section a .ranking_text {
  width: 58.5%;
  padding-left: 2%;
  font-size: 16px;
  text-align: left;
}

/* ランキングカテゴリ書式 */
section a .ranking_text p:last-child {
  max-width: 140px;
  font-size: 14px;
  text-align: center;
  padding: 3px 3px 3px 3px;
  border: 1px solid #000;
  margin-top: 22px;
}

/* ニュース見出しの書式 */
main .news {
  margin-left: 20px;
  margin-right: 20px;
}

/* ニュース見出しの書式 */
main .news h2.news {
  font-family: Poppins;
  font-size: 35px;
  margin-top: 13px;
  margin-bottom: 16px;
}

/* ニュース全体 */
main .news ul {
  max-width: 1080px;
  text-align: left;
  line-height: 18px;
  border: 1px solid #000;
  padding: 33px 20px 15px 52px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

/* ニュース本文書式 */
main .news ul li {
  padding-bottom: 18px;
}

/* About書式 */
main aside {
  width: 100%;
}

main aside h2 {
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

main aside p {
  font-size: 16px;
  margin-bottom: 45px;
}

/* 1600px以下 */
@media (max-width: 1600px) {
  .visual_copy {
    width: 38%;
    position: absolute;
    left: 15.18%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 14px;
    padding-bottom: 25px;
  }
  .visual_copy section h1 {
    font-size: 34px;
    padding-bottom: 3px;
  }
  .food a span {
    display: none;
  }
}

/* 1400px以下 */
@media (max-width: 1400px) {
  .visual_copy {
    width: 41%;
    position: absolute;
    left: 10.18%;
    top: 23%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 13px;
    padding-bottom: 20px;
  }
  .visual_copy section h1 {
    font-size: 34px;
    padding-bottom: 3px;
  }
  .food .food_main section {
    width: 65%;
    height: fit-content;
  }
  main > div .textbox {
    top: 42%;
  }
  main > div .textbox h2 {
    width: 50%;
  }
  main > div .textbox p {
    width: 50%;
  }
}

/* 1200px以下 */
@media (max-width: 1200px) {
  /* ↓メインビジュアルコピーの書式 */
  .visual_copy {
    width: 46%;
    left: 7.18%;
    top: 27%;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
  /* ビジュアルコピーh1のサイズ変更 */
  .visual_copy section h1 {
    font-size: 28px;
    padding-bottom: 1px;
  }
  .visual_copy section p {
    font-size: 13px;
  }

  /* ランキングタイトルのセンター合わせ */
  .ranking article h1 {
    text-align: center;
  }
  /* ランキングタイトルの改行 */
  .ranking article h1 span {
    white-space: nowrap;
    padding-top: 10px;
    padding-right: 30px;
  }

  /* ↓料理写真のflex設定1200以下 */
  main .food {
    display: flex;
    flex-wrap: wrap;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 0px;
    margin-bottom: 51px;
  }

  main ul li.food_1 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2.42%;
  }

  main ul li.food_2 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2.42%;
  }

  main .food .food_1 div {
    flex-basis: 47.7%;
    margin-bottom: 2.29%;
  }

  main .food .food_2 div {
    flex-basis: 47.7%;
    margin-bottom: 2.29%;
  }

  main .food .food_main {
    flex-basis: 100%;
  }

  .food .food_main img.pc {
    display: none;
  }
  .food .food_main img.tab {
    display: block;
    padding-right: 1.19%;
  }
  .food .food_main {
    position: relative;
  }
  /* ミネストローネコピー */
  .food .food_main section {
    width: 28%;
    right: 1.13%;
    height: 100%;
    position: absolute;
    padding: 20px 27px 25px 27px;
  }
  main > div .textbox {
    top: 33%;
  }
  main > div .textbox h2 {
    width: 55%;
  }
  main > div .textbox p {
    width: 55%;
  }
}

/* 1000px以下 */
@media (max-width: 1000px) {
  a.visual {
    position: unset;
  }
  /* ↓メインビジュアルコピーの書式 */
  .visual_copy {
    width: 100%;
    position: unset;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 16px;
    padding-bottom: 14px;
    background-color: #ffffff;
  }
  /* ビジュアルコピーh1のサイズ変更 */
  .visual_copy section h1 {
    font-size: 30px;
    padding-bottom: 3px;
  }
  /* ビジュアルコピーを改行なし */
  .visual_copy section p {
    display: inline;
    font-size: 15px;
  }
  /* ビジュアルコピーの3行目のみディスプレイブロック（改行） */
  .visual_copy section p:nth-child(3) {
    display: block;
  }
  /* ミネストローネコピー */
  .food .food_main section {
    width: 38%;
    right: 1.13%;
    height: 100%;
    position: absolute;
    padding: 20px 27px 25px 27px;
  }
  main > div .textbox {
    top: 32%;
  }
  main > div .textbox h2 {
    width: 60%;
  }
  main > div .textbox p {
    width: 60%;
  }
}

/* 900以下 */
@media (max-width: 900px) {
  /* ランキングの書式 */
  main .container .ranking {
    width: 65%;
  }
  /* ランキング画像とテキストの横並び解除 */
  .ranking article section a {
    display: block;
    margin-bottom: 19%;
  }
  /* ランキングpc用画像非表示 */
  article section a .ranking_img .pc {
    display: none;
  }
  /* ランキングtab用画像表示 */
  article section a .ranking_img .tab {
    display: block;
  }
  /* ランキング画像書式 */
  article section a .ranking_img {
    width: 100%;
    padding-bottom: 14px;
  }
  /* ランキング文章書式 */
  article section a .ranking_text {
    width: 100%;
  }
  /* ランキングカテゴリ書式 */
  section a .ranking_text p:last-child {
    margin-top: 5px;
  }
  /* ミネストローネコピー */
  .food .food_main section {
    width: 42%;
    right: 1.13%;
  }
  main > div .textbox {
    position: unset;
  }
  main > div .textbox h2 {
    width: 80%;
  }
  main > div .textbox p {
    width: 80%;
    padding-top: 0;
    padding-bottom: 12px;
  }
}

/* 767以下 */
@media (max-width: 767px) {
  /* PC用メインビジュアル非表示 */
  a.visual .pc {
    display: none;
  }
  /* タブレット用画像非表示 */
  a.visual .tab {
    position: relative;
    display: block;
  }
  /* タブレット用ミネストローネ写真非表示 */
  .food .food_main img.tab {
    display: none;
  }
  /* スマホ用ミネストローネ写真表示 */
  .food .food_main img.sp {
    display: block;
    width: 100%;
    padding-right: 2.19%;
  }
  /* ↓料理写真のflex解除 */
  main .food {
    display: block;
  }
  /* 記事とランキングの余白調整 */
  main .container {
    column-gap: 2%;
  }
  /* 料理写真1グループの書式 */
  main ul li.food_1 {
    width: 100%;
  }
  /* 料理写真2グループの書式 */
  main ul li.food_2 {
    width: 100%;
  }
  /* 料理写真メイングループの書式 */
  main ul li.food_main {
    width: 100%;
  }
  /* ミネストローネコピー */
  .food .food_main section {
    width: 52%;
    height: 70%;
    right: 2.13%;
  }
  /* 記事とランキングの横並び解除 */
  main .container {
    display: block;
  }
  /* ランキングの書式 */
  main .container .ranking {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* ランキング画像とテキストの横並び */
  .ranking article section a {
    display: flex;
    margin-bottom: 5%;
  }
  /* ランキング画像書式 */
  article section a .ranking_img {
    width: 70%;
  }
  main > div .textbox h2 {
    width: 100%;
  }
  main > div .textbox p {
    width: 100%;
  }
}

/*575以下 */
@media (max-width: 575px) {
  /* タブレット用ミネストローネ写真非表示 */
  .food .food_main img.tab {
    display: none;
  }
  /* スマホ用ミネストローネ写真非表示 */
  .food .food_main img.sp {
    position: relative;
    display: block;
    padding-right: 2.19%;
  }
  /* ミネストローネコピー */
  .food .food_main section {
    width: 49%;
    height: 100%;
    right: 2.13%;
  }
}
