@import url(common.css);

/* ↓メインビジュアルの書式 */
main .img_visual {
  position: relative;
  display: block;
  margin-bottom: 60px;
}
/* タブレット用画像非表示 */
main .img_visual .tab {
  display: none;
}

/* ↓メインビジュアルコピーの書式 */
main .textbox {
  width: 31%;
  color: #000000;
  background-color: #ffffff;
  text-align: left;
  position: absolute;
  left: 17%;
  top: 36%;
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 22px;
  padding-bottom: 22px;
}

main .textbox h1 {
  font-family: Poppins;
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 3px;
}

main .textbox h2 {
  font-family: Poppins;
  font-weight: bold;
  font-size: 32px;
  padding-bottom: 5px;
}

main .textbox p {
  font-size: 17px;
  line-height: 1.7;
}

/* レシピの書式 */

.container h1.new {
  font-size: 27px;
  font-weight: bold;
  text-align: left;
  padding-bottom: 7px;
  margin-bottom: 20px;
}

.container .recipe {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: space-between;
  margin-bottom: 50px;
}

.recipe div {
  background-color: #e2e2e2;
  margin-bottom: 40px;
}

.recipe div p {
  text-align: left;
  font-weight: bold;
  padding: 17px 23px 17px 23px;
}

div p span:nth-child(1) {
  float: right;
}
div p span:nth-child(1) img {
  padding-right: 5px;
  padding-bottom: 3px;
}
div p span:nth-child(2) {
  display: block;
  font-size: 14px;
  font-weight: 100;
  padding-top: 50px;
}

/* ホバー1 */

div.f1 {
  position: relative;
  background-color: unset;
}

div.f1 div.front {
  /* width: 332px; */
  backface-visibility: hidden;
  transition: transform 1s;
}
div.f1 div.rear1 {
  width: 332px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: transform 1s;
}
div.f1 div.front {
  transform: rotateY(0);
  text-align: left;
}

.f1:hover div.front {
  transform: rotateY(180deg);
}

div.f1 div.rear1 {
  width: 332px;
  height: 90%;
  background-color: #9c9c9c;
  font-size: 20px;
  transform: rotateY(-180deg);
  color: #ffffff;
  padding-top: 80px;
}
div.f1:hover div.rear1 {
  transform: rotateY(0);
}
div.f1 div.rear1 img {
  display: block;
  width: 50px;
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

/* ホバー2 */
div.f2 {
  position: relative;
  background-color: unset;
}

div.f2 div.front2 {
  /* width: 332px; */
  backface-visibility: hidden;
  transition: transform 1s;
}
div.f2 div.rear2 {
  width: 332px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: transform 1s;
}
div.f2 div.front2 {
  transform: rotateY(0);
  text-align: left;
}

.f2:hover div.front2 {
  transform: rotateY(180deg);
}

div.f2 div.rear2 {
  width: 332px;
  height: 90%;
  background-color: #9c9c9c;
  font-size: 20px;
  transform: rotateY(-180deg);
  color: #ffffff;
  padding-top: 80px;
}
div.f2:hover div.rear2 {
  transform: rotateY(0);
}
div.f2 div.rear2 img {
  display: block;
  width: 50px;
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

/* ホバー3 */
div.f3 {
  position: relative;
  background-color: unset;
}

div.f3 div.front3 {
  /* width: 332px; */
  backface-visibility: hidden;
  transition: transform 1s;
}
div.f3 div.rear3 {
  width: 332px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: transform 1s;
}
div.f3 div.front3 {
  transform: rotateY(0);
  text-align: left;
}

.f3:hover div.front3 {
  transform: rotateY(180deg);
}

div.f3 div.rear3 {
  width: 332px;
  height: 90%;
  background-color: #9c9c9c;
  font-size: 20px;
  transform: rotateY(-180deg);
  color: #ffffff;
  padding-top: 80px;
}
div.f3:hover div.rear3 {
  transform: rotateY(0);
}
div.f3 div.rear3 img {
  display: block;
  width: 50px;
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

/* ホバー4 */
div.f4 {
  position: relative;
  background-color: unset;
}
div.f4 div.front4 {
  /* width: 332px; */
  backface-visibility: hidden;
  transition: transform 1s;
}
div.f4 div.rear4 {
  width: 332px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: transform 1s;
}
div.f4 div.front4 {
  transform: rotateY(0);
  text-align: left;
}
.f4:hover div.front4 {
  transform: rotateY(180deg);
}

div.f4 div.rear4 {
  width: 332px;
  height: 90%;
  background-color: #9c9c9c;
  font-size: 20px;
  transform: rotateY(-180deg);
  color: #ffffff;
  padding-top: 80px;
}
div.f4:hover div.rear4 {
  transform: rotateY(0);
}
div.f4 div.rear4 img {
  display: block;
  width: 50px;
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

/* ホバー5 */
div.f5 {
  position: relative;
  background-color: unset;
}
div.f5 div.front5 {
  /* width: 332px; */
  backface-visibility: hidden;
  transition: transform 1s;
}
div.f5 div.rear5 {
  width: 332px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: transform 1s;
}
div.f5 div.front5 {
  transform: rotateY(0);
  text-align: left;
}
.f5:hover div.front5 {
  transform: rotateY(180deg);
}
div.f5 div.rear5 {
  width: 332px;
  height: 90%;
  background-color: #9c9c9c;
  font-size: 20px;
  transform: rotateY(-180deg);
  color: #ffffff;
  padding-top: 80px;
}
div.f5:hover div.rear5 {
  transform: rotateY(0);
}
div.f5 div.rear5 img {
  display: block;
  width: 50px;
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

/* ホバー6 */
div.f6 {
  position: relative;
  background-color: unset;
}
div.f6 div.front6 {
  /* width: 332px; */
  backface-visibility: hidden;
  transition: transform 1s;
}
div.f6 div.rear6 {
  width: 332px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: transform 1s;
}
div.f6 div.front6 {
  transform: rotateY(0);
  text-align: left;
}
.f6:hover div.front6 {
  transform: rotateY(180deg);
}
div.f6 div.rear6 {
  width: 332px;
  height: 90%;
  background-color: #9c9c9c;
  font-size: 20px;
  transform: rotateY(-180deg);
  color: #ffffff;
  padding-top: 80px;
}
div.f6:hover div.rear6 {
  transform: rotateY(0);
}
div.f6 div.rear6 img {
  display: block;
  width: 50px;
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

/* ホバー7 */
div.f7 {
  position: relative;
  background-color: unset;
}
div.f7 div.front7 {
  /* width: 332px; */
  backface-visibility: hidden;
  transition: transform 1s;
}
div.f7 div.rear7 {
  width: 332px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: transform 1s;
}
div.f7 div.front7 {
  transform: rotateY(0);
  text-align: left;
}
.f7:hover div.front7 {
  transform: rotateY(180deg);
}
div.f7 div.rear7 {
  width: 332px;
  height: 90%;
  background-color: #9c9c9c;
  font-size: 20px;
  transform: rotateY(-180deg);
  color: #ffffff;
  padding-top: 80px;
}
div.f7:hover div.rear7 {
  transform: rotateY(0);
}
div.f7 div.rear7 img {
  display: block;
  width: 50px;
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

/* ホバー8 */
div.f8 {
  position: relative;
  background-color: unset;
}
div.f8 div.front8 {
  /* width: 332px; */
  backface-visibility: hidden;
  transition: transform 1s;
}
div.f8 div.rear8 {
  width: 332px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: transform 1s;
}
div.f8 div.front8 {
  transform: rotateY(0);
  text-align: left;
}
.f8:hover div.front8 {
  transform: rotateY(180deg);
}
div.f8 div.rear8 {
  width: 332px;
  height: 90%;
  background-color: #9c9c9c;
  font-size: 20px;
  transform: rotateY(-180deg);
  color: #ffffff;
  padding-top: 80px;
}
div.f8:hover div.rear8 {
  transform: rotateY(0);
}
div.f8 div.rear8 img {
  display: block;
  width: 50px;
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
}
/* ホバー9 */
div.f9 {
  position: relative;
  background-color: unset;
}
div.f9 div.front9 {
  /* width: 332px; */
  backface-visibility: hidden;
  transition: transform 1s;
}
div.f9 div.rear9 {
  width: 332px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: transform 1s;
}
div.f9 div.front9 {
  transform: rotateY(0);
  text-align: left;
}
.f9:hover div.front9 {
  transform: rotateY(180deg);
}
div.f9 div.rear9 {
  width: 332px;
  height: 90%;
  background-color: #9c9c9c;
  font-size: 20px;
  transform: rotateY(-180deg);
  color: #ffffff;
  padding-top: 80px;
}
div.f9:hover div.rear9 {
  transform: rotateY(0);
}
div.f9 div.rear9 img {
  display: block;
  width: 50px;
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

/* ホバー10 */
div.f10 {
  position: relative;
  background-color: unset;
}
div.f10 div.front10 {
  /* width: 332px; */
  backface-visibility: hidden;
  transition: transform 1s;
}
div.f10 div.rear10 {
  width: 332px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: transform 1s;
}
div.f10 div.front10 {
  transform: rotateY(0);
  text-align: left;
}
.f10:hover div.front10 {
  transform: rotateY(180deg);
}
div.f10 div.rear10 {
  width: 332px;
  height: 90%;
  background-color: #9c9c9c;
  font-size: 20px;
  transform: rotateY(-180deg);
  color: #ffffff;
  padding-top: 80px;
}
div.f10:hover div.rear10 {
  transform: rotateY(0);
}
div.f10 div.rear10 img {
  display: block;
  width: 50px;
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

/* ホバー11 */
div.f11 {
  position: relative;
  background-color: unset;
}
div.f11 div.front11 {
  /* width: 332px; */
  backface-visibility: hidden;
  transition: transform 1s;
}
div.f11 div.rear11 {
  width: 332px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: transform 1s;
}
div.f11 div.front11 {
  transform: rotateY(0);
  text-align: left;
}
.f11:hover div.front11 {
  transform: rotateY(180deg);
}
div.f11 div.rear11 {
  width: 332px;
  height: 90%;
  background-color: #9c9c9c;
  font-size: 20px;
  transform: rotateY(-180deg);
  color: #ffffff;
  padding-top: 80px;
}
div.f11:hover div.rear11 {
  transform: rotateY(0);
}
div.f11 div.rear11 img {
  display: block;
  width: 50px;
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

/* ホバー12 */
div.f12 {
  position: relative;
  background-color: unset;
}
div.f12 div.front12 {
  /* width: 332px; */
  backface-visibility: hidden;
  transition: transform 1s;
}
div.f12 div.rear12 {
  width: 332px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: transform 1s;
}
div.f12 div.front12 {
  transform: rotateY(0);
  text-align: left;
}
.f12:hover div.front12 {
  transform: rotateY(180deg);
}
div.f12 div.rear12 {
  width: 332px;
  height: 90%;
  background-color: #9c9c9c;
  font-size: 20px;
  transform: rotateY(-180deg);
  color: #ffffff;
  padding-top: 80px;
}
div.f12:hover div.rear12 {
  transform: rotateY(0);
}
div.f12 div.rear12 img {
  display: block;
  width: 50px;
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

/* ランキング画像とテキストの横並び */
.ranking article section a {
  display: flex;
  margin-bottom: 13%;
  column-gap: 1%;
}

/* ランキング横並び */
.ranking article {
  display: flex;
}

/* ランキングh1の書式 */
.ranking h1 {
  font-family: Poppins;
  font-size: 30px;
  text-align: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 18px 0px 18px 0px;
  margin-bottom: 35px;
}

/* h1スパン内書式 */
.ranking h1 span {
  font-family: Yu Gothic Medium;
  font-size: 16px;
  padding-left: 30px;
  vertical-align: middle;
}

/* ランキング画像書式 */
article section a .ranking_img {
  width: 139px;
  padding-left: 2.5%;
  text-align: left;
}

/* ランキングtab用画像非表示 */
article section a .ranking_img .tab {
  display: none;
}

/* ランキング文章書式 */
article section a .ranking_text {
  width: 58.5%;
  padding-left: 2%;
  font-size: 16px;
  text-align: left;
}
.container section p {
  margin-bottom: 22px;
}
/* ランキングカテゴリ書式 */
section a .ranking_text p:last-child {
  max-width: 140px;
  font-size: 14px;
  text-align: center;
  padding: 3px 3px 3px 3px;
  border: 1px solid #000;
}

/* ニュース見出しの書式 */
main .news {
  margin-left: 20px;
  margin-right: 20px;
}

/* ニュース見出しの書式 */
main .news h2.news {
  font-family: Poppins;
  font-size: 35px;
  margin-top: 13px;
  margin-bottom: 16px;
}

/* ニュース全体 */
main .news ul {
  max-width: 1080px;
  text-align: left;
  line-height: 18px;
  border: 1px solid #000;
  padding: 33px 20px 15px 52px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

/* ニュース本文書式 */
main .news ul li {
  padding-bottom: 18px;
}

/* About書式 */
main aside {
  width: 100%;
}

main aside h2 {
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

main aside p {
  font-size: 16px;
  margin-bottom: 45px;
}

/* 1600px以下 */
@media (max-width: 1600px) {
  /* ↓メインビジュアルコピーの書式 */
  main .textbox {
    width: 35%;
    left: 13%;
    top: 33%;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  main .textbox h2 {
    font-size: 30px;
    padding-bottom: 4px;
  }
  main .textbox p {
    font-size: 16px;
    line-height: 1.5;
  }
}

/* 1400px以下 */
@media (max-width: 1400px) {
  /* ↓メインビジュアルコピーの書式 */
  main .textbox {
    width: 38%;
    left: 11;
    top: 28%;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  main .textbox h2 {
    font-size: 30px;
    padding-bottom: 4px;
  }
  main .textbox p {
    font-size: 16px;
    line-height: 1.5;
  }
}

/* 1200px以下 */
@media (max-width: 1200px) {
  /* ↓メインビジュアルコピーの書式 */
  main .textbox {
    width: 45%;
    left: 9%;
    top: 25%;
  }
}

/* 1000px以下 */
@media (max-width: 1000px) {
  /* ↓メインビジュアルPC用非表示 */
  main .img_visual .pc {
    display: none;
  }
  /* タブレット用画像表示 */
  main .img_visual .tab {
    position: relative;
    display: block;
    margin-bottom: 60px;
  }
  main .textbox {
    width: 50%;
    left: 8%;
    top: 30%;
  }
}

/* 900以下 */
@media (max-width: 900px) {
  /* ↓メインビジュアルコピーの書式 */
  main .textbox {
    width: 62%;
    left: 7%;
    top: 30%;
  }
}

/* 767以下 */
@media (max-width: 767px) {
  .container h1.new {
    padding-left: 20px;
    padding-right: 20px;
  }
  .container .recipe {
    padding-left: 20px;
    padding-right: 20px;
  }
  /* タブレット用画像表示 */
  main .img_visual {
    margin-bottom: 0px;
  }
  main .img_visual .tab {
    margin-bottom: 0px;
  }
  /* ↓メインビジュアルコピーの書式 */
  main .textbox {
    position: unset;
    width: 100%;
    color: #000000;
    background-color: #ffffff;
    text-shadow: none;
    padding: 25px 40px 25px 40px;
    margin-bottom: 30px;
  }
  main .textbox h2 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 5px;
  }
  main .textbox p {
    font-weight: 100;
    font-size: 17px;
    line-height: 1.7;
  }
  .flex .recipes {
    margin-right: 0;
    margin-bottom: 50px;
  }
  /* レシピと材料写真の横並び */
  .flex {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
  }
  .flex .resipes_img {
    width: 48%;
    display: flex;
    column-gap: 25px;
    margin-bottom: 50px;
    align-items: stretch;
  }
  .flex .resipes_img .img1 {
    padding-bottom: 0px;
  }
  .ranking article {
    display: block;
  }
  .ranking article .ranking_img {
    width: 50%;
    margin-bottom: 0;
  }
  .ranking article .ranking_img .pc {
    display: none;
  }
  .ranking article .ranking_img .tab {
    display: block;
  }
  .ranking article section {
    margin-bottom: 30px;
  }
  /* ランキング画像とテキストの横並び */
  .ranking article section a {
    display: flex;
    margin-bottom: 0;
  }
  /* ランキングテキストの書式 */
  article section a .ranking_text {
    width: 55%;
    font-size: 18px;
    text-align: left;
  }
  /* ニュース見出しの書式 */
  main .news {
    padding-left: 20px;
    padding-right: 20px;
  }
  main aside {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/*575以下 */
@media (max-width: 575px) {
}
