@import url(common.css);

/* ↓メインビジュアルの書式 */
main .visual .img_visual {
  display: block;
  margin-bottom: 60px;
}
/* タブレット用画像非表示 */
main .visual .img_visual .tab {
  display: none;
}

main .visual {
  position: relative;
}

/* ↓メインビジュアルコピーの書式 */
main .visual .textbox {
  width: 31%;
  color: #000000;
  background-color: #ffffff;
  text-align: left;
  position: absolute;
  left: 17%;
  top: 36%;
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 25px;
  padding-bottom: 22px;
}
main .visual .textbox h1 {
  font-family: Poppins;
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 3px;
}

main .visual .textbox h2 {
  font-family: Poppins;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 5px;
}

main .textbox p {
  font-size: 17px;
  line-height: 1.7;
}

/* レシピの書式 */

/* レシピと材料写真の横並び */
.flex {
  display: flex;
}
.flex .recipes {
  margin-right: 50px;
}

.flex .recipes {
  flex-basis: 65%;
  margin-bottom: 85px;
}
.flex .resipes_img {
  flex-basis: 30%;
  padding-bottom: 20px;
}

.container section {
  margin-bottom: 50px;
}

/* レシピタイトル */
.container section h1 {
  font-size: 25px;
  text-align: left;
  font-weight: bold;
  padding-bottom: 13px;
}
/* レシピリード */
.container section p {
  width: 100%;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 38px;
}
/* 2人分 */
.recipes h1 {
  font-size: 23px;
  font-weight: bold;
  padding-bottom: 6px;
  padding-left: 15px;
  border-bottom: 1px dotted #000;
  border-left: 3px solid #000;
  margin-bottom: 38px;
  text-align: left;
}

.flex .recipes h2 {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  padding-bottom: 10px;
}
/* レシピの材料 */
.flex .recipes .ingredient-list {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  font-size: 16px;
  margin-bottom: 45px;
}
.flex .recipes .ingredient-list dt {
  width: 85%;
  border-bottom: dotted 1px #ccc;
  padding: 6px 0;
}
.flex .recipes .ingredient-list dd {
  width: 15%;
  border-bottom: dotted 1px #ccc;
  padding: 6px 0;
  text-align: right;
}

.flex .resipes_img .img1 {
  padding-bottom: 40px;
}

/* 作り方 */
.flex .recipes .step-list li {
  text-align: left;
  border-bottom: dotted 1px #ccc;
  list-style-type: decimal;
  padding: 6px 0;
  margin-left: 20px;
}

/* ランキング画像とテキストの横並び */
.ranking article section a {
  display: flex;
  margin-bottom: 13%;
  column-gap: 1%;
}

/* ランキング横並び */
.ranking article {
  display: flex;
}

/* ランキングh1の書式 */
.ranking h1 {
  font-family: Poppins;
  font-size: 30px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 18px 0px 18px 0px;
  margin-bottom: 35px;
}

/* h1スパン内書式 */
.ranking h1 span {
  font-family: Yu Gothic Medium;
  font-size: 16px;
  padding-left: 30px;
  vertical-align: middle;
}

/* ランキング画像書式 */
article section a .ranking_img .pc {
  width: 139px;
  padding-left: 2.5%;
  text-align: left;
}

/* ランキングtab用画像非表示 */
article section a .ranking_img .tab {
  display: none;
}

article section a .ranking_img .sp {
  display: none;
}

/* ランキング文章書式 */
article section a .ranking_text {
  width: 58.5%;
  padding-left: 2%;
  font-size: 16px;
  text-align: left;
}
.container section p {
  margin-bottom: 22px;
}
/* ランキングカテゴリ書式 */
section a .ranking_text p:last-child {
  max-width: 140px;
  font-size: 14px;
  text-align: center;
  padding: 3px 3px 3px 3px;
  border: 1px solid #000;
}

/* ニュース見出しの書式 */
main .news {
  margin-left: 20px;
  margin-right: 20px;
}

/* ニュース見出しの書式 */
main .news h2.news {
  font-family: Poppins;
  font-size: 35px;
  margin-top: 13px;
  margin-bottom: 16px;
}

/* ニュース全体 */
main .news ul {
  max-width: 1080px;
  text-align: left;
  line-height: 18px;
  border: 1px solid #000;
  padding: 33px 20px 15px 52px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

/* ニュース本文書式 */
main .news ul li {
  padding-bottom: 18px;
}

/* About書式 */
main aside {
  width: 100%;
}

main aside h2 {
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

main aside p {
  font-size: 16px;
  margin-bottom: 45px;
}

/* 1600px以下 */
@media (max-width: 1600px) {
  /* ↓メインビジュアルコピーの書式 */
  main .visual .textbox {
    width: 35%;
    left: 13%;
    top: 37%;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  main .visual .textbox h2 {
    padding-bottom: 4px;
  }
  main .visual .textbox p {
    font-size: 16px;
    line-height: 1.5;
  }
}

/* 1400px以下 */
@media (max-width: 1400px) {
  /* ↓メインビジュアルコピーの書式 */
  main .visual .textbox {
    width: 38%;
    left: 10%;
    top: 34%;
  }
}

/* 1200px以下 */
@media (max-width: 1200px) {
  /* ↓メインビジュアルコピーの書式 */
  main .visual .textbox {
    width: 45%;
    left: 9%;
    top: 25%;
  }
}

/* 1000px以下 */
@media (max-width: 1000px) {
  /* ↓メインビジュアルPC用非表示 */
  main .visual .img_visual .pc {
    display: none;
  }
  /* タブレット用画像表示 */
  main .visual .img_visual .tab {
    display: block;
    margin-bottom: 60px;
  }

  /* ↓メインビジュアルコピーの書式 */
  main .visual .textbox {
    width: 50%;
    left: 8%;
    top: 42%;
  }
}

/* 900以下 */
@media (max-width: 900px) {
  /* ↓メインビジュアルコピーの書式 */
  main .visual .textbox {
    width: 62%;
    left: 7%;
    top: 40%;
  }
}

/* 767以下 */
@media (max-width: 767px) {
  .container section {
    display: inline;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }
  /* タブレット用画像表示 */
  main .visual .img_visual {
    margin-bottom: 0px;
  }
  main .visual .img_visual .tab {
    margin-bottom: 0px;
  }
  /* ↓メインビジュアルコピーの書式 */
  main .visual .textbox {
    position: unset;
    width: 100%;
    color: #000000;
    background-color: #ffffff;
    text-shadow: none;
    padding: 35px 25px 30px 25px;
  }
  main .visual .textbox h2 {
    font-size: 28px;
    padding-bottom: 5px;
  }
  main .visual .textbox p {
    font-weight: 100;
  }
  .flex .recipes {
    margin-right: 0;
  }
  .flex .recipes {
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 220px;
    margin-bottom: 50px;
  }
  /* レシピと材料写真の横並び */
  .flex {
    display: block;
  }
  .flex .resipes_img {
    margin-bottom: 30px;
  }
  .flex .resipes_img .img1 {
    padding-bottom: 0px;
  }
  .ranking h1 {
    margin-left: 5px;
    margin-right: 5px;
  }
  .ranking article {
    display: block;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .ranking article .ranking_img {
    width: 50%;
    margin-bottom: 0;
  }
  .ranking article .ranking_img .pc {
    display: none;
  }
  .ranking article .ranking_img .tab {
    display: block;
    padding-right: 5%;
  }
  article section a .ranking_img .sp {
    display: none;
  }
  .ranking article section {
    margin-bottom: 0px;
  }
  /* ランキング画像とテキストの横並び */
  .ranking article section a {
    display: flex;
    margin-bottom: 0;
  }
  /* ランキングテキストの書式 */
  article section a .ranking_text {
    width: 70%;
    font-size: 18px;
    text-align: left;
  }
  /* ニュース見出しの書式 */
  main .news {
    padding-left: 20px;
    padding-right: 20px;
  }
  main aside {
    padding-left: 40px;
    padding-right: 40px;
  }
  .flex {
    position: relative;
    width: 100%;
  }
  .flex .resipes_img .img1 {
    position: absolute;
    width: 42.3%;
    top: 0px;
    left: 10px;
  }
  .flex .resipes_img .img2 {
    position: absolute;
    width: 49.5%;
    top: 0px;
    right: 10px;
  }
}

/*600以下 */
@media (max-width: 600px) {
  /* ↓メインビジュアルコピーの書式 */
  main .visual .textbox {
    top: 30%;
    left: 0%;
  }
}
/*575以下 */
@media (max-width: 575px) {
  /* ↓メインビジュアルコピーの書式 */
  main .visual .textbox {
    padding: 30px 25px 30px 25px;
  }
  /* ↓メインビジュアルコピーの書式 */
  main .visual .textbox {
    top: 27%;
    left: 0%;
  }
  .flex .recipes {
    padding-top: 74%;
  }
  .flex {
    position: relative;
    width: 100%;
  }
  .flex .resipes_img .img1 {
    position: absolute;
    width: 99%;
    top: 0px;
    left: 5px;
  }
  .flex .resipes_img .img2 {
    display: none;
  }
}

/* 400以下 */
@media (max-width: 400px) {
  .ranking h1 {
    margin-bottom: 20px;
  }
  .ranking h1 span {
    display: block;
    padding-top: 7px;
    padding-right: 30px;
  }
  /* ランキングtab用画像非表示 */
  article section a .ranking_img .tab {
    display: none !important;
  }
  /* ランキング画像書式 */
  article section a .ranking_img .pc {
    display: none;
  }
  article section a .ranking_img .sp {
    display: block;
  }
}
